---
import { getImage } from "astro:assets";

const { title, description, image } = Astro.props;

const customImage = await getImage({
  src: image,
  format: "webp",
  width: 500,
  height: 300,
});
---

<header class="h-full min-h-[700px]">
  <div class="flex flex-col items-center">
    <div class="line max-w-32 mb-6"></div>
    <h1 class="service-title title mb-10">{title}</h1>
    <p class="service-text text-[#515151] w-[90%] text-center mb-16">
      {description}
    </p>
    <img
      src={customImage.src}
      alt="Service Image"
      class="max-w-[500px] w-[90%] min-h-[200px] object-contain"
    />
  </div>
</header>

<style>
  .service-title {
    font-size: clamp(2em, 3vw, 4.2em);
  }

  .service-text {
    font-size: clamp(0.8em, 1.2vw, 1.2em);
  }
</style>
