---
import ImageCollage from "@components/ImageCollage.astro";
import Value from "@components/Value.astro";

import { VALUES } from "@/data/goals";
---
<section class="h-full min-h-[1080px] w-full p-10 flex justify-center">
    <div class="flex flex-col md:flex-row max-w-[1200px] w-full values-center">
        <div class="flex-initial w-full md:mt-8 md:mr-20 max-w-[600px] values-content">
            <h1 class="values-title title text-center mb-10 md:mb-0 md:text-left">Nuestros valores</h1>
            <div class="flex flex-col md:flex-row md:gap-10">          
            {
                VALUES.map((item) => (
                    <Value title={item.title} description = {item.description} />
                ))
            }          
            </div>
        </div>
        <div class="md:w-[600px]">
            <ImageCollage />
        </div>
    </div>
</section>

<style>
    .values-title {
        font-size: clamp(2em, 2vw, 5em);
    }

    @media screen and (max-width: 768px) {
        .values-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .values-center {
            align-items: center;
        }
    }
</style>