---
import Layout from "@layouts/Layout.astro";
import Contact from "@sections/Contact.astro";
import ContactMethods from "@sections/contact/ContactMethods.astro";
---

<Layout>
    <ContactMethods />
    <main>
        <Contact />
    </main>
</Layout>