---
import Layout from "@layouts/Layout.astro";
import AboutHeader from "@sections/about-us/AboutHeader.astro";
import Values from "@sections/about-us/Values.astro";
import ContactMethods from "@sections/contact/ContactMethods.astro";
import Lawyers from "@sections/Lawyers.astro";
---

<Layout>
    <AboutHeader />
    <main>
        <Values />
        <Lawyers />
        <ContactMethods />
    </main>
</Layout>