---
import Button1 from "@/components/ui/Button1.astro";
const {title, description, icon: Icon, buttonText, class: className} = Astro.props;
---

<div class={`border-solid border-2 border-[#dbdbdb] rounded-lg p-4 w-[300px] h-fit flex flex-col max-md:items-center ${className}`}>
    <div class="relative h-[50px] w-[50px] md:h-[70px] md:w-[70px] bg-third rounded-md flex-initial mb-8">
        <div class="flex justify-center h-full items-center">
            <Icon class:list={["absolute h-[30px] w-[30px] md:h-[50px] md:w-[50px]"]} />
        </div>
    </div>
    <div class="h-full flex-auto flex flex-col items-center">
        <div class="md:mb-20">
            <h1 class="method-title font-times text-[1.7em]">{title}</h1>
            <p class="method-text text-[#515151] text-pretty min-h-[72px]">{description}</p>
        </div>
        <Button1 class:list={["Call !w-[150px] !h-[45px] !text-[1em] md:!w-[180px] md:!h-[58px] md:!text-[1.2em]"]} text={buttonText} />
    </div>
</div>

<style>
    .method-title {
        font-size: clamp(1.2em,1.2vw,3em);
    }

    .method-text {
        font-size: clamp(0.8em, 1.1vw, 1.2em);
    }
</style>