---
const {title, description, icon: Icon, class: className} = Astro.props;
---
<div class={`icon-allign md:border-solid border-2 border-[#dbdbdb] rounded-lg p-4 w-full md:w-[593px] md:h-fit ${className ?? ""}`}>
    <div class="relative h-[50px] w-[50px] md:h-[70px] md:w-[70px] bg-third rounded-md flex-initial md:mr-8 md:mt-2">
        <div class="flex h-[50px] md:h-[70px] w-full md:w-[70px] justify-center items-center">
            <Icon class:list={["absolute h-[30px] w-[30px] md:h-[50px] md:w-[50px]"]} />
        </div>
    </div>
    <div class="h-full flex-auto pt-8 md:pt-0">
        <div class="mb-10">
            <h1 class="goal-title font-times text-[1.7em] text-center md:text-left">{title}</h1>
            <p class="text-[#515151] text-center md:text-left md:text-pretty min-h-[72px] value-text">{description}</p>
        </div>
    </div>
</div>

<style>
    .goal-title {
        font-size: clamp(1.5em, 2vw, 2em);
    }

    @media screen and (max-width: 768px) {
        .icon-allign {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .value-text {
        font-size: clamp(0.8em,1.1vw,1.2em);
    }
</style>