---
import { Image } from "astro:assets";

import LawyerImage from "@assets/images/lawyers/lawyer-image.webp";

const { name, position, class: className } = Astro.props;
---

<div class={`min-h-fit ${className} flex flex-col items-center`}>
    <div class="w-full flex flex-col items-center">
        <Image class="w-full max-md:max-w-[254px] md:w-[254px] min-h-[350px] object-cover" src={LawyerImage} alt="Lawyer Image" />
        <h1 class="lawyer-name text-[1.8em] text-center mt-2">{name}</h1>
        <p class="lawyer-occupation text-[#515151] text-[1em] text-center">{position}</p>
    </div>
</div>

<style>
    .lawyer-name {
        font-family:'Times New Roman', Times, serif;
        font-size: clamp(1.2em,1vw,3em);
    }

    .lawyer-occupation {
        font-size: clamp(0.8em,1vw,1.2em);
    }
</style>