---
import { Image } from "astro:assets";
import ladyJusticeImage from "@assets/images/lady-justice.png";

import Button1 from "@components/ui/Button1.astro";
import Button2 from "@components/ui/Button2.astro";
---

<header class="mainPage">
    <div class="title">
        <div class="div1">
            <div class="letters">
                <h1>DESPACHO JURÍDICO ROMERO'S & ASOCIADOS</h1>
        
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim suscipit dolor eget volutpat. Cras libero urna, ultrices at mattis.</p>
            </div>

            <div class="titleButtonsContainer">
                <div>
                    <Button1 />
                    <Button2 />
                </div>
            </div>
        </div>
        <div class="div3">
            <Image class="ladyJustice" src={ladyJusticeImage} alt="Lady Justice" width={250} height={550}/>
        </div>
    </div>
</header>

<style>
	.mainPage {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../assets/images/main-page-image.jpeg");
		margin: 0;
		height: 100vh;
		object-fit: cover;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		display: flex;
		justify-content: center;
		align-items: center;

		overflow: hidden;
		position: relative;
	}

	.mainPage .title {
		height: 70vh;
		display: flex;
		grid-column-gap: 0;
		grid-row-gap: 0;
		align-items: center;
		max-width: 1280px;
	}

	.div1{
		width: 100%;
		min-width: 18em;
	}

	.div1 .letters{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.div3 { 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30%;
	 }

	.title div h1{
		font-family: "Perpetua Titling MT", sans-serif;
        color: var(--main-color);
		font-weight: 300;
		font-size: clamp(2.5em, 7vw, 4.2em);
		user-select: none;
		margin-bottom: 0.6em;
		margin-top: 0;		
		text-align: center;
	}

	.title div p {
		font-size: 20px;
		width: 90%;
		margin: 0 auto 1em auto;
	}

	.ladyJustice {
		image-rendering: auto;
		image-rendering: -moz-crisp-edges;          /* Firefox */
		image-rendering: -o-crisp-edges;            /* Opera */
		image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
		-ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
		user-select: none;
		width: 14.5em;
	}

	.titleButtonsContainer {
		display: flex;
		justify-content: center;
		margin-top: 5em;
	}

	.titleButtonsContainer div{
		display: flex;
		gap: 2em;
	}

	@media screen and (max-width: 991px){
		.mainPage .title{
			flex-direction: column-reverse;
			width: 90%;
		}
	}

	@media screen and (max-width: 767px) {
		.ladyJustice {
			width: 9em;
			height: 25em;
		}

		.titleButtonsContainer div{
			flex-direction: column;
		}
	}

	@media screen and (max-width: 479px) {
		.ladyJustice {
			width: 7.8em;
			height: 24em;
		}
	}
</style>