---
import Ventaja from "@components/Ventaja.astro";

import { ventajas } from "src/data/values";
---

<section class="bg-[#F5F5F5] h-[1080px] min-h-full flex items-center justify-center">
    <div>
        <div class="text-center">
            <h1 class="font-perpetua text-primary values-title not-italic font-thin mb-[2em]">¿Porqué somos tu mejor opción?</h1>
        </div>
        <div class="flex gap-[3em] justify-center">
            {ventajas.map((item) => (
                <Ventaja image={item.icon} title={item.title} description={item.description} />
            ))}
        </div>
    </div>
</section>

<style>
    .values-title{
        font-size: clamp(1.5em,3vw,4.2em);
    }
</style>