:root {
    --main-color: #0028FA;
    --second-main-color: #102D9F;
}

@font-face {
    font-family: "Perpetua Titling MT";
    src: 
        url("/PERTILI.TTF") format("ttf");
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Overpass";
    src: url("/Overpass.ttf") format("ttf");
    font-style: normal;
    font-display: optional;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: auto;
}

body {
    margin: 0;
    height: 100%;
    overflow: scroll;
}

p{
    font-family: "Overpass", sans-serif;
}

h1.title {
    font-family: 'Times New Roman', Times, serif;
    color: var(--main-color);
    font-size: 3.5em;
}

div.line {
    background-color: var(--main-color);
    width: 16.5em;
    height: 0.4em;
    margin-top: 2.5em;
}