---
---

<button class="Call">Llámanos ahora</button>

<style>
    .Call {
        background-color: #2F66FF;
        border: none;
        width: 276px;
        height: 96px;
        font-family:'Times New Roman', Times, serif;
        color: white;
        border-radius: 10px;
        font-size: 32px;
        cursor: pointer;
        text-transform: none;
    }
</style>